.add-message-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    margin: 20px auto;

    position: fixed;
    bottom: 5px;
}

.message-input {
    width: 100%;
    margin: 0 20px;
    border-radius: 10px;
}
button {
    border-radius: 10px;
    padding: 5px 10px;
}